<phpunit colors="true"
		stopOnFailure="true"
		syntaxCheck="true"
		bootstrap="vendor/autoload.php"
		beStrictAboutCoversAnnotation="true"
		verbose="true">

    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>


	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory>src</directory>
		</whitelist>
	</filter>

</phpunit>
